@{
    ViewBag.Title = "Principal";
}

<h2>@ViewBag.Message</h2>
<p>
Estamos dedicados a brindarte toda la informacion que necesitas y que se encuentra a nuestro alcance:
</p>

@section articulos_recientes
{
<p>Esta sidebar tiene contenido especifico de "home page"</p>
<ul>
<li><a href="#"> Uno</a></li>
<li><a href="#"> Dos</a></li>
<li><a href="#"> Tres</a></li>
<li><a href="#"> Cuatro</a></li>
<li><a href="#"> Cinco</a></li>
<li><a href="#"> Seis</a></li>
</ul>
<h3>prueba css3</h3>
}