@{
    ViewBag.Title = "Usuario";
    Layout="../Shared/_Layout2.cshtml";
}

<h3>Section Top</h3>

@section libro_top
{
}
@section articulo_top
{<div class="post">
            <h2 class="title"><a href="#">Mi Articulo Mas Visitado</a></h2>
			<p class="byline"><small>Ejemplo de post 2012 por <a href="#">cSSc Tddss</a></small></p>
			<div class="entry">
				<p>contenido de esta pagina dlkjflekjf  y de articulo de todo un poco para todos </p>
				<p class="links"><a href="#" class="more" title ="ver todo el contenido" >Leer Completo</a></p>
                <p class="byline"><small>Comentar</small></p>
                <form id="comentario_libro" method="get" action="#" style: padding = "0 px 0px 0px 0px">
					<div>
						<input type="text" name="l" id="l" size="70%" value="" />
					</div><p class="byline"><small>Comentar</small></p>
				</form>
			</div>
            </div>
}
@section curso_top
{
}